.git
.cursor
.env
.DS_Store
**/.DS_Store
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/.venv-devcontainer
**/node_modules
**/cdk.out
tests/test_case_upstream_lambda/pipeline_code/api_ingester/certifi
tests/test_case_upstream_lambda/pipeline_code/api_ingester/charset_normalizer
tests/test_case_upstream_lambda/pipeline_code/api_ingester/idna
tests/test_case_upstream_lambda/pipeline_code/api_ingester/requests
tests/test_case_upstream_lambda/pipeline_code/api_ingester/urllib3
tests/test_case_upstream_lambda/pipeline_code/api_ingester/*.dist-info
